[package]
name = "contracts-node"
version = "0.31.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Substrate node configured for smart contracts via `pallet-contracts`."
edition = "2021"
license = "Unlicense"
build = "build.rs"
homepage = "https://github.com/paritytech/substrate-contracts-node"
repository = "https://github.com/paritytech/substrate-contracts-node"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "substrate-contracts-node"
path = "src/main.rs"

[dependencies]
clap = { version = "4.2.7", features = ["derive"] }
futures = { version = "0.3.21", features = ["thread-pool"]}

sc-cli = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-cli", default-features = false }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", package = "sp-core" }
sc-executor = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-executor" }
sc-network = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-network" }
sc-service = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-service", default-features = false }
sc-telemetry = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-telemetry" }
sc-keystore = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-keystore" }
sc-transaction-pool = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-transaction-pool" }
sc-transaction-pool-api = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-transaction-pool-api" }
sc-offchain = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-offchain" }
sc-consensus = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-consensus" }
sc-consensus-manual-seal = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-consensus-manual-seal" }
sc-client-api = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-client-api" }
sp-runtime = { git = "https://github.com/paritytech/polkadot-sdk", package = "sp-runtime" }
sp-timestamp = { git = "https://github.com/paritytech/polkadot-sdk", package = "sp-timestamp" }

# These dependencies are used for the node's RPCs
jsonrpsee = { version = "0.16.2", features = ["server"] }
sp-api = { git = "https://github.com/paritytech/polkadot-sdk", package = "sp-api" }
sc-rpc = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-rpc" }
sc-rpc-api = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-rpc-api" }
sp-blockchain = { git = "https://github.com/paritytech/polkadot-sdk", package = "sp-blockchain" }
sp-block-builder = { git = "https://github.com/paritytech/polkadot-sdk", package = "sp-block-builder" }
sc-basic-authorship = { git = "https://github.com/paritytech/polkadot-sdk", package = "sc-basic-authorship" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/polkadot-sdk", package = "substrate-frame-rpc-system" }
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/polkadot-sdk", package = "pallet-transaction-payment-rpc" }

# Local Dependencies
contracts-node-runtime = { path = "../runtime", version = "0.31.0" }

# yank this crate until
# https://github.com/bluejekyll/enum-as-inner/issues/98
# is fixed
enum-as-inner = "=0.5.1"

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/polkadot-sdk", package = "substrate-build-script-utils" }

[features]
default = []
